@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box; /*ensures padding and border are included in the total width/height, making layout more predictable.*/
}

body{
    font-family: "Roboto", sans-serif;
    display:flex; /*defines a flex container -> enables flex context for all its children*/
    flex-direction: column; /*establishes main-axis -> here top to bottom (default = row)*/
    height: 100vh; /*sets the body height to 100% of the viewport height.*/
    
}

/*header*/

.header{
    display: flex; /*.header = horizontal container -> default as flex-direction not set*/
    justify-content: space-between; /*pushes .header_left and .header_right to the edges*/
    align-items: center; /*vertically centers content*/
    padding: 20px 30px;
    background-color: rgb(202, 240, 227);
}

.header_right a {/*styles the link*/
    margin-right: 20px;
    color:rgba(0, 0, 0, 0.87);
    font-size: 15px;
    text-decoration: inherit;
}

.header_right a:hover{
    text-decoration: underline; /*when hovering then text underlined*/
}

.header_right{
    display: flex; /*is now a flexbox container*/
    align-items: center;
    min-width: 13vw; /*minimal width is 13% of viewport width*/
    justify-content: space-between; /*spreads the children across available space.*/
}

.header_left .header_apps{
    margin-right: 10px; /*add spacing to icons*/
}

/*Main body*/

.mainBody{
    flex:1; /*allows container to expand (if parent = flex container)*/
    display:flex;
    align-items: center;
    margin-top:12%; /*12% below top flex container)*/
    flex-direction: column; /*vertical stacking of items*/
    
}

.mainBody img{
    object-fit: contain; /*defines how image should be adapted to container -> contain: content is scaled but aspect ratio is kept will fitting it into the flexbox */
    height: 100px;
}

.logo{
    display: flex;
    align-items: left;
    color: #0b57d0;
}


 .search{
    display:flex;
    flex:1;
    align-items: left;
    flex-direction: column;
 }

.search_input{
    display: flex; /*flexbox container*/
    align-items: center; /*items spread across available space*/
    border: 1px solid lightgrey;
    height: 50px;
    padding: 10px 20px;
    border-radius: 999px; /*fully rounded pill shape*/
    width: 75vw;
    margin:0 auto; /* centers item*/
    margin-top: 40px;
    max-width:560px;
}

.search_input input{/*actual input in search box*/
    flex:1; /*fills remaining space in .search_input container*/
    padding:10px 20px;
    font-size: 18px;
    border:none;
    outline: none;
}

.search_input .search_apps{
    color:grey;
}

.search_buttons{ /*flex container*/
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search_buttons input[type=submit]{
    margin:5px;
    border:none;
    padding:10px 15px;
    border-radius: 50px;
    background-color: #f8f8f8;
    outline:none;
    cursor:pointer; /* changes cursor on hover.*/
 }

 .search_buttons input[type=submit]:hover {
    background-color: #e8e8e8;
}


/*Advanced Search*/

 .advanced_search_input{ /*container with all questions and submit button*/
    display: flex; /*flexbox container*/
    flex-direction: column;
    border: none;
    border-radius: 5px; /*only slightly rounded corners*/
    width: 75vw;
    margin:0 auto; /* centers item*/
    margin-top: 40px;
    max-width:660px;
 }

 /*text "Find pages with.."*/
 p{
    padding:10px 0px;
    font-size: 20px;
 }    

 /*contains questions for search*/
.questions{
    display:flex;
    flex-direction: column;    
}

.indiv_question{
    display:flex;
    justify-content: space-between;
    margin:5px;
}

.questions input[type=text]{
    font-size: 15px;
    width:400px;
    border: 1px solid lightgrey; 
    border-radius: 3px; /*only slightly rounded corners*/
    padding: 5px 10px;
}

.questions label{
    font-size: 15px;
    padding: 10px 0px;
}

/*formats submit button*/
.advanced_buttons{ /*flex container*/
    margin-top: 30px;
    display: flex;
    justify-content: right;
}

.advanced_buttons input[type=submit]{
    margin:5px;
    border:none;
    padding:10px 15px;
    border-radius: 5px;
    background-color: #4085f5;
    color: white;
    cursor:pointer; /* changes cursor on hover.*/
 }

 .advanced_buttons input[type=submit]:hover{
    background-color: #0f64ec;
 }

 